{% load static %}
<head>
    <style>
        .footer{
            position: relative;
            margin-top: 25rem;
            bottom: 0;          
        }

        .footer .items a{
            text-decoration: none;
        }

        .footer .items a:active, .footer .items a:hover{
            color: lightslategray;
        }

        .icon0, .icon1, .icon2, .icon3{
            width: 3rem;
            height: 3rem;
        }
    </style>
</head>

<footer class="footer bg-primary f-large p-3">
    <div class="items mx-2">
        <div class="d-flex flex-column d-inline-flex">
            <a class="fc-2 mx-2" href="{% url 'about' %}">About</a>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <a class="fc-2 mx-2" href="{% url 'email' %}">Send me an Email</a>
            <div></div>
            <div class="d-lg-flex">
                <a href="https://github.com/maman-idle/" target="_blank" class="fc-2 mx-2"><img src="{% static 'icons/icons8-github.svg' %}" alt="Github" class="icon0"></a>
                <a href="https://linkedin.com/in/ivan-faturahman-5825b1169" target="_blank" class="fc-2 mx-2"><img src="{% static 'icons/icons8-linkedin.svg' %}" alt="LinkedIn" class="icon1"></a>                
                <a href="https://www.instagram.com/maman_idle/" target="_blank" class="fc-2 mx-2"><img src="{% static 'icons/icons8-instagram.svg' %}" alt="Instagram" class="icon3"></a>
            </div>
        </div>
        <div class="d-flex flex-column d-inline-flex">            
            <a class="fc-2 mx-2" href="https://bootswatch.com/sketchy/" target="_blank">Theme</a>
        </div>
    </div>
</footer>
