{% load static %}
<head>
    <style>
        .footer .items a{
            text-decoration: none;
        }

        .footer .items a:active, .footer .items a:hover{
            color: lightslategray;
        }

        .icon0, .icon1, .icon2{
            width: 3rem;
            height: 3rem;
        }
    </style>
</head>

<footer class="footer bg-primary f-large">
    <div class="items mx-2">
        <div class="d-flex flex-column">
            <a class="fc-2 mx-2" href="{% url 'about' %}">About</a>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <a class="fc-2 mx-2" href="{% url 'email' %}">Send me an Email</a>
            <div></div>
            <div>
                <a href="https://github.com/maman-idle/" target="_blank" class="fc-2 mx-2"><img src="{% static 'icons/icons8-github.svg' %}" alt="Github" class="icon0"></a>
                <a href="https://linkedin.com/in/ivan-faturahman-5825b1169" target="_blank" class="fc-2 mx-2"><img src="{% static 'icons/icons8-linkedin.svg' %}" alt="LinkedIn" class="icon1"></a>
                <a href="https://twitter.com/mamanidle" target="_blank" class="fc-2 mx-2"><img src="{% static 'icons/icons8-twitter.svg' %}" alt="Twitter" class="icon2"></a>
            </div>
        </div>
        <div class="d-flex flex-column">            
            <a class="fc-2 mx-2" href="https://bootswatch.com/sketchy/" target="_blank">Theme</a>
        </div>
    </div>


<!--     <div class="d-flex justify-content-center f-large mt-2 items">
            <a class="fc-2 mx-2" href="{% url 'about' %}">About</a>        
            <a class="fc-2 mx-2" href="{% url 'email' %}">Send me an Email</a>
    </div>
    <div class="d-flex justify-content-center f-large mt-2 items">
        <a class="fc-2" href="https://bootswatch.com/sketchy/" target="_blank">Theme</a>
    </div> -->
</footer>
