{% load static %}

<style>
  .logo{
    width: 4rem;
    height: 4rem;
  }
</style>

<nav class="navbar navbar-expand-md navbar-dark bg-primary my-2">
    <div class="container-fluid">
        <a class="navbar-brand f-xlarge mt-3" href="{% url 'home' %}"><img class="logo" src="{% static 'icons/favicon.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item ms-4">
                <a class="nav-link f-large" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item ms-4">
                <a class="nav-link f-large" href="{% url 'all_posts' 1 %}">Posts</a>
              </li>
              <li class="nav-item dropdown ms-4">
                <a class="nav-link dropdown-toggle f-large" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu f-med">
                  <a class="dropdown-item " href="{% url 'category' 1 %}">Networking</a>
                  <a class="dropdown-item" href="{% url 'category' 2 %}">Django</a>                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'category' 3 %}">Random</a>
                </div>
              </li>
              <li class="nav-item ms-4">
                <a class="nav-link f-large" href="{% url 'about' %}">About</a>
              </li>
            </ul>
            <form class="d-md-flex text-center" method="get" action="{% url 'search_post' %}">
              <input name="keyword" class="form-control f-small" type="text" placeholder="Search Post">
              <button class="btn btn-secondary my-auto f-small" type="submit">Search</button>
            </form>
          </div>

    </div>
</nav>