{% extends 'common/base.html' %}

{% block title %}
    Spilled Bits | About
{% endblock %}


{% block content %}

<style>
    .article p{
        text-align: justify;
        text-justify: inter-word;
    }

    .article a{
        text-decoration: none;
        color: lightskyblue;
    }

    .article a:hover{
        color: darkturquoise;
    }
</style>


<div class="bg-light container-fluid mb-5">
    <div class="col col-md-auto">
        <a class="mx-3" href="{% url 'home' %}" style="font-size: 450%;">Spilled Bits</a>
        <span class="f-xlarge">/about</span>        
    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-center mt-3">
        <h1 class="fc-2" style="font-size: 4.5rem;">Welcome to the Spilled Bits</h1>
    </div>

    <div class="card-body bg-primary f-xlarge my-4 article">
        <p>
            Hello, my name is Ivan Faturahman. I'm just a guy who like to study about IT stuff that includes web developing,
            networking, cyber security, and everything in between. That sounds like too much things to study, right?. Yes. It is.
            Well, that's the only way to survive on the IT industry. Whenever non IT people heard about grad student of Computer Science,
            they think that we can do anything from full stack to configuring CCTV, IP Phone, Router and such.
            I'm not complaining, I'm just stating the facts from my experiences as a job seeker on this industry.
            So other than that, I like to bring balance in my life, so whenever I feel myself being a couch potato, 
            I'm gonna exert my body to do some physical activities. Sit too much can kill ya! Am I right or am I right.
        </p>
        <p>            
            About this blog, I'm planning to write at least one post every week (could be anyday of the week). And the topic of the post
            could be either networking or web developing or random thoughts or commentary about stupid stuff or 
            anything. My personal blog. My rule. That's it, and to whoever willing to spend their time reading
            my posts, wish you have a good day and welcome to the Spilled Bits. Where my random thoughts, scribbles, and other weird stuffs are cached.     
        </p>
    </div>

</div>

{% include 'common/footer.html' %}

{% endblock %}