{% extends 'common/base.html' %}

{% block title %}
    Spilled Bits | All Posts
{% endblock %}

{% block content %}

    <div class="bg-light container-fluid mb-5">
        <a class="mx-3" href="{% url 'home' %}" style="font-size: 450%;">Spilled Bits</a>
        <span class="f-xlarge">/All_Posts</span>        
    </div>

    <div class="container-fluid">
        <div class="pagination pull-right mx-2">

            {% if totalPageSize > 1 %}

                <a href="{% url 'all_posts' 1 %}">&laquo;</a>

                {% if prevShowedPages %}
                    <a href="{% url 'all_posts' prevShowedPages %}">...</a>
                {% endif %}

                {% for page in listPages %}
                    <a href="{% url 'all_posts' page %}">{{page}}</a>                    
                {% endfor %}

                {% if nextShowedPages %}
                    <a href="{% url 'all_posts' nextShowedPages %}">...</a>
                {% endif %}

                <a href="{% url 'all_posts' totalPageSize %}">&raquo;</a>

            {% else %}
                <a href="#">&laquo;</a>
                <a href="#">&raquo;</a>
            {% endif %}
        </div>
    </div>

    <div class="container all-posts">

        {% for post in paginatedItems %}
        <!--POST-->
        <div class="card mb-3 mx-auto col-8 post">  
            <a class="card-body" href="{% url 'article' post.slug pageNow %}">
                <p class="f-xxlarge">{{post.title}}</p>                    
                <p class="fc-3 f-med">Posted on: {{post.date}}</p>

                <small class="fc-3 f-med">category: </small>
                        {% for category in post.category.all %}  <!-- Accessing M2M items -->
                            <small class="fc-3 f-med">''{{category}}</small>
                        {% endfor %}
            </a>
        </div>
        {% endfor %}

    </div>

    <div class="mb-5"></div>

    {% include 'common/footer.html' %}

{% endblock %}