{% load static %}
{% include 'common/base.html' %}

{% block content %}

<div class="bg-light container-fluid">
    <div class="row justify-content-end mx-3 my-3">
        <a class="col col-md-auto btn sm-btn btn-outline-secondary" href="{% url 'all_posts' 1 %}">Back</a>
    </div>
    <div class="col col-md-auto">
        <a class="mx-3" href="{% url 'home' %}" style="font-size: 450%;">Spilled Bits</a>
        <span class="f-xlarge">/post</span>
        <span class="f-xlarge">/{{post.slug}}</span>
    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-center mt-3">
        <h1 class="fc-2" style="font-size: 4.5rem;">{{post.title}}</h1>
    </div>

    <div class="d-flex justify-content-end mx-2">
        <strong class="f-med">Posted on: {{post.date}}</strong>
    </div>

    <div class="card-body f-xlarge my-4 article">
        {{post.content|linebreaks}}
    </div>

</div>

{% endblock %}